<header>
<nav class="navbar navbar-expand-sm">
  <!-- Links -->
  
  <ul class="navbar-nav">
    <li class="nav-item">
      <a> <img src="/assets/pro-image/logo.png"  class= "logo" height="100" alt="CoolBrand"></a>
      </li>
       
    
    <li class="nav-item">
        <a routerLink="our-story" class="nav-link" routerLinkActive="active">OurStory</a>
    </li>

    <li class="nav-item">
        <a routerLink="free-range" class="nav-link"  routerLinkActive="active">Free Range Eggs</a>
    </li>
    <li class="nav-item">
      <a routerLink="partner" class="nav-link" routerLinkActive="active">Become a Partner</a>
  </li>
  <li class="nav-item">
    <a routerLink="contact" class="nav-link"  routerLinkActive="active">Contact us</a>
</li>
  <li class="nav-item">
  <a> <img src="/assets/pro-image/free-delivery.png"  class= "delivery" height="120" alt="CoolBrand"></a>
  </li>
   
  </ul>
</nav>
</header>
 <router-outlet></router-outlet>