<h6 class="con">Contact us</h6>
<input [(ngModel)]="inputValue">
<input [(ngModel)]="inputValue1" class="lastname">
<input [(ngModel)]="inputValue2" class="Email-text">
<input [(ngModel)]="inputValue3" class="Message">
<img [src]="myimage" class="icon-image">
<section class="address">
<div>{{address.office}}</div>
<div>{{address.location}}</div>
<div>{{address.street}}</div>
<div>{{address.city}}</div>
<div>{{address.address}}</div>
<div class="phone">{{address.phoneNo}}</div>
<div class="email">{{address.Email}}</div>
<h1 class="f1">First Name</h1>
<h1 class="l1">Last Name</h1>
<h1 class="E1">Email*</h1>
<h1 class="M1">Message</h1>
</section>
<button class="btn1" mat-button (click)="buttonAction()"  [style.color]="'white'" [style.background-color]="'blue'">Sent</button>
<img [src]="myimage1" class="icon-image1">
<img [src]="myimage2" class="icon-image2">
