<a> <img src="/assets/pro-image/hen-egg.jpeg"  class= "egg" height="180"  width="350" alt="CoolBrand"></a>
<div><h1 class="free-range ">Free Range Eggs</h1>
<h1 class="free-range1">From 100% Free Range Hens</h1></div>

<br>

<div>
    <img [src]="myimage" class="bg-image" alt="">
    <img [src]="myimage1" class="bg-image1">
    <img [src]="myimage2" class="bg-image2" alt=""><p class="t1">High in Omega3</p>
    <img [src]="myimage3" class="bg-image3" alt=""><p class="t2">Locally Grown Feed</p>
    <img [src]="myimage4" class="bg-image4" alt=""><p class="t3">Hygienic Housing</p>
    <img [src]="myimage5" class="bg-image5" alt=""><p class="t4">Humanely Raised</p>
    <img [src]="myimage6" class="bg-image6" alt=""><p class="t5">Free Range</p>
    <br>
    <img [src]="myimage7" class="bg-image7" alt=""><p class="t6">No Steroids</p>
    <img [src]="myimage8" class="bg-image8" alt=""><p class="t7">No Artificial Colours</p>
    <img [src]="myimage9" class="bg-image9" alt=""><p class="t8">No Artificial Colours</p>
    <img [src]="myimage10" class="bg-image10" alt=""><p class="t9">No Pesticides</p>
    <br>
    <img [src]="myimage11" class="bg-image11" alt="">
    <img [src]="myimage12" class="bg-image12" alt=""> <p class="left-aligned1">Meet the Farmer</p>
    <p class="left-aligned">A few years ago, my husband and I started a small farm on our family-owned dry lands in the district of Tuticorin. The initial goal was a social experiment to study how we could help the farmers of the water starved dry regions of Tamil Nadu. As we learnt more about modern and commercial farming techniques, we soon realized the reality of what we were feeding our children.</p>
    <p class="left-aligned2">At that moment we committed ourselves to raising clean food not just for our children but for all mothers looking for healthy food options for their children.Today, at our farm, we raise, harvest, and mill all the feed needed for our hens. We avoid any form of steroids, hormones, or antibiotics for our hens. We raise our hens in small batches to give them ample space for free ranging and foraging - we let them be themselves. We employ local women from surrounding villages to feed the hens, collect, clean, and grade the eggs and pack them for your consumption.</p>
    <p class="text-container">They also keep a close watch on the hens to ensure they are always healthy and stay safe from predators. By controlling every step in the process - from feed to packaging, we can ensure that only the healthiest of the eggs leave our farms and reach your kitchens.</p>
    <br>
    <p class="left-aligned4">Gayathiri Ramalingam
    <p class="left-aligned5">Founder, Mesham Integrated Farms</p>
   
    <p class="bottom-left">Every egg is handpicked, cleaned, and </p>
    <p class="b1"> inspected to ensure only the highest </p>
    <p class="b2">quality eggs reaches your kitchen</p>
    <p class="bottom-right">We stretch to put in the extra<br>in the 
    <p class="bottom-right1">EXTRAordinary></p>

</div>

<h2>Frequently Asked Questions </h2>

<mat-accordion class="faqalign">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Where do your eggs come from?
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <p class="textalign">At Yolo, we partner with Mesham Integrated Farms to get our eggs to your table. Mesham Integrated farms is a Mother owned farm run by Gayathiri Ramalingam. The farm is in Ayan Karisalkullam Village of Ettayapuram Taluk of Tuticorin Dist., Tamil Nadu. We exclusively procure all our free-range eggs from Mesham Integrated Farms.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Is Mesham farms open for visitors?
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <p>Yes. We, at Yolo, believe in 100% transparency and only work with partners who share the same belief. Mesham farms would be happy to show you around the farm, the free ranging hens, the barns where they shelter after sunset, the feed mills on site, their egg collection process, the storage and packing floors. They also welcome patrons to spend time with the staff running the farm and look around the fields growing corn, millets and green fodder that used for feeding the hens. The only request we have is that you follow all biosecurity measures while at the farm. Please write to us to schedule an appointment.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Does Yolo offer door delivery?
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <p class="textalign">Yes, we do. Our delivery is currently limited to Chennai Metropolitan area. We can do a same day delivery during business hours. We also welcome our patrons to subscribe for a free door delivery in the Chennai area. Our subscribes get an option to pick a specific day(s) of the week and time slots that work best for them. </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What does “Free Range” mean?
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <p class="textalign">Free-range hens, at Mesham, are raised in small batches with ample shaded grazing grounds – well protected from predators and the scorching south Indian weather. They are housed in safe barns with plenty of space after sunset to roost. Each bird is provided a space for perching above the ground. They are always provided with clean fresh drinking water and have access to safe nesting areas for laying the eggs. The hens are 100% cage free at all times.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What do we feed our hens at Mesham Farms?
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <p class="textalign">We cultivate corn, millets, and sunflower seeds at our farm. The seeds and grains are milled in house to be fed to the hens. We also raise various kinds of protein rich green fodder for the hens. We supplement the feed with traditional seasonal herbs for the well being of the hens and shell grits for their calcium needs. We rely on 100% flax seeds as vegetarian source of omega 3 fatty acids.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How do we maintain the health of our hens?
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <p class="textalign">We believe in “Prevention if better than Cure”. We maintain our birds healthy by feeding them a very well-balanced nutrition, specially formulated for egg laying hens, ensure clean & fresh water at all times, and follow stringent farm biosecurity measures, keep barns clean and vermin-free and provide safe nest boxes clean.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Why are free range eggs more expensive than regular white eggs?
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <p class="textalign">It costs more to raise hens in a free-range environment as compared to a caged industrial setup. The free-range process is labour intensive and the only mechanization we can use in this setup is for milling the grains and seeds. Egg collection is a laborious process and involves collecting eggs several times during the day. Studies also show that free range hens are not stressed to lay eggs and in turn lay much lesser eggs than their cage raised counterparts. A lot of expenses are also involved in raising green fodder and maintaining shaded grazing area for the hens.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        What does hormone free and steroid free eggs mean?
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <p class="textalign">We do not feed hormones, steroids, or other synthetic supplements to increase the egg laying capacity of our hens or promote growth or weight gain. This is turn leads to production of eggs that are free of any steroids or hormones.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Why does the shell colour of the eggs vary?
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <p class="textalign">Different breeds of hens lay varying-coloured eggs. However, the edible part of the egg are quite similar. Hens at Mesham lay eggs with shell colours ranging from pale brown to very dark brown. No two egg shells look the same colour and we make no focused effort on sorting by the shell colour but rather package them the same way mother nature made them.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Why do the colour of eggs yolk vary?
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <p class="textalign">The yolk colour is reflection of the health of the hens and also the freshness of the green fodder they consume. Our hens have access plenty of protein rich green fodder in their grazing areas and they bright yellow/orange color of the yolks. Each yolk is a different shade based on the amount of green fodder they had consumed in the days preceding the laying of the eggs.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        How should I store the eggs?
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <p class="textalign">We recommend refrigerating the eggs after purchase in either in their original packaging or in closed containers. Also, please consume the eggs within 20 days from the date stamped on the packaging.</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Why does the shell colour of the eggs vary?
      </mat-panel-title>
      
    </mat-expansion-panel-header>
    <p class="textalign">Different breeds of hens lay varying-coloured eggs. However, the edible part of the egg are quite similar. Hens at Mesham lay eggs with shell colours ranging from pale brown to very dark brown. No two egg shells look the same colour and we make no focused effort on sorting by the shell colour but rather package them the same way mother nature made them.</p>
  </mat-expansion-panel>
  
</mat-accordion>
<img #imageElement [src]="myimage13" class="bg-image13" alt=""> <p class="image-text">Subscribe for a regular, </p>
  <p class="image-text2">timely, and free delivery</p>
  <button class="btn" mat-button (click)="buttonAction()"  [style.color]="'white'" [style.background-color]="'brown'">Click to Subsribe</button>

  <img [src]="myimage14" class="bg-image14" alt="">
  <img [src]="myimage15" class="bg-image15" alt="">
  
  <p class="box-text">Questions or concerns 
  <br>  Write to us
  <mat-form-field class="input1">
    <input matInput placeholder="Enter your name">
    <mat-label>Name</mat-label>
  </mat-form-field>
  <mat-form-field class="input2">
    <input matInput placeholder="Enter your Email">
    <mat-label>Email</mat-label>
  </mat-form-field>
  <mat-form-field class="input3">
    <input matInput placeholder="Enter your Subject">
    <mat-label>Subject</mat-label>
  </mat-form-field>
  <mat-form-field class="input4" >
    <input matInput placeholder="Enter your Subject">
    <mat-label>Type Your Message Here</mat-label>
  </mat-form-field>

  <button class="btn1" mat-button (click)="buttonAction()"  [style.color]="'white'" [style.background-color]="'brown'">Submit</button>
